.filterBtn {
	display: flex;
	gap: 0.4em;
	margin-top: 2em;
	padding: 0.5em 1em;
	align-items: center;
	color: var(--main-color);
	font-weight: 500;
	border-radius: 22px;
	transition: background-color 0.3s;

	img {
		width: 16px;
		height: 16px;
	}

	&:hover {
		background-color: rgba(72, 85, 198, 0.2);
	}
}

@media (hover: none) and (pointer: coarse) {
	.filterBtn {
		&:hover {
			background-color: initial;
		}
	}
}
