.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	width: 100%;
	text-align: center;
	background-color: var(--main-color);
	color: var(--white-color);
	border-top-left-radius: 100%;
	border-top-right-radius: 100%;
}
