.logo {
	padding: 0.5em;
	font-weight: 600;
	letter-spacing: 1px;
	background: linear-gradient(to right, #7077d1, #1c2cc2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: clamp(2.5rem, 3vw, 3.4rem);
}
