*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bgc: hsl(0, 0%, 96%);
	--main-color: #457b9d;
	--alert-color: hsl(355, 57%, 50%);
	--fg: hsl(0, 0%, 10%);
}
/* @media (prefers-color-scheme: dark) {
	:root {
		--bgc: hsl(0, 0%, 10%);
		--main-color: hsl(182, 43%, 76%);
		--alert-color: hsl(355, 70%, 56%);
		--fg: hsl(0, 0%, 96%);
	}
} */

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: 'Work Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	background-color: var(--bgc);
	color: var(--fg);
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
	aspect-ratio: auto;
	object-fit: cover;
}

table {
	border-collapse: collapse;
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
	background: none;
	border: transparent;
	color: var(--bgc);
}

input,
textarea,
select,
button {
	font-family: inherit;
	font-size: inherit;
}
