*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bgc: hsl(0, 0%, 96%);
	--main-color: #457b9d;
	--alert-color: hsl(355, 57%, 50%);
	--fg: hsl(0, 0%, 10%);
	--ff: 'Work Sans', sans-serif;
	--shadow: hsla(0, 0, 0, 0.4);
	--p: clamp(1.6rem, 3vw, 1.8rem) / 1.8 var(--ff);
	--subtext: clamp(1.1rem, 3vw, 1.2rem) / 1.6 var(--ff);
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: var(--ff);
	font-weight: 400;
	background-color: var(--bgc);
	color: var(--fg);
}

p {
	font: var(--p);
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
	aspect-ratio: auto;
	object-fit: cover;
}

table {
	border-collapse: collapse;
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
	background: none;
	border: transparent;
	color: var(--bgc);
}

input,
textarea,
select,
button {
	font-family: inherit;
	font-size: inherit;
}
