.nav {
	ul {
		display: flex;
		gap: 2em;
	}
	li a {
		position: relative;
		padding: 0.5em 1em;

		&:hover::before {
			transform: scale(1);
		}

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			transform: scale(0);
			height: 1px;
			background-color: var(--text-color);
			transition: transform 0.3s;
		}
	}
	li a:global(.active) {
		background-color: var(--main-color);
		border-radius: 12px;
		color: var(--white-color);
	}
}

@media (hover: none) and (pointer: coarse) {
	.nav {
		li a {
			&:hover::before {
				transform: initial;
			}
		}
	}
}
