.header {
	position: relative;
	margin-top: 3rem;
	margin-left: 5rem;
	display: flex;
	flex-direction: column;

	h1 {
		font-size: clamp(3.2rem, 3vw, 4rem);
		margin-bottom: 1rem;
	}

	p {
		font-size: clamp(1.6rem, 3vw, 2rem);
	}

	img {
		display: none;
	}
}

@media (min-width: 1300px) {
	.header {
		img {
			right: -80px;
		}
	}
}

@media (min-width: 900px) {
	.header {
		img {
			display: block;
			position: absolute;
			top: -40px;
			right: -30px;
			object-fit: cover;
			height: 300px;
			border-radius: 22px;
			z-index: -1;
		}
	}
}
